/*#e0b045 - golden*/

body {
  background-color: #1e1f26;
  font-family: Century Gothic;
}

#title {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  color: #a8a8a8;
  font-size: 50px;
}

#description {
  text-align: center;
  color: #a8a8a8;
  font-family: Century Gothic;
  font-size: 20px;
}

#survey-form {
  background-color: #e0b045;
  color: white;
  text-align: center;
}

input {
  font-family: Century Gothic;
}

#dropdown {
  font-family: Century Gothic;
}

option {
  font-family: Century Gothic;
}

.form {
  font-size: 20px;
}